*.iml
*.ipr
*.iws
.gradle
.idea
.idea_modules
.DS_Store

/tracker/local.properties
/tracker/build
/tracker/app/build
/tracker/captures

/analyzer/logs
/analyzer/target
/analyzer/project/target
/analyzer/RUNNING_PID
.sbtserver*
